/*//////////////////////////////
    Fonts
//////////////////////////////*/
@font-face {
    font-family: 'PuristaBold';
    src: url('../fonts/purista_bold.ttf') format('truetype');
}
@font-face {
    font-family: 'PuristaLight';
    src: url('../fonts/purista_light.ttf') format('truetype');
}
@font-face {
    font-family: 'PuristaMedium';
    src: url('../fonts/purista_medium.ttf');
}
@font-face {
    font-family: 'TinosBold';
    src: url('../fonts/Tinos-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'TinosRegular';
    src: url('../fonts/Tinos-Regular.ttf') format('truetype');
}
/*//////////////////////////////
    General Utility Styles
//////////////////////////////*/
.no-left-pad {
    padding-left: 0;
}

/*//////////////////////////////
    Body and Header Styles
//////////////////////////////*/
body {
    font-family: TinosRegular;
    background-color: black;
    letter-spacing: 1px;
}
.container {
    background-color: black;
}
.container-shadow {
    box-shadow: 0 5px 20px 5px rgba(0,0,0,0.24);
}
.nav {
    margin-bottom: 40px;
}
.nav > li > a {
    color: #f60022;
    transition: background-color .5s, color .5s;
    font-family: PuristaMedium;
    letter-spacing: 2px;
    text-shadow: none;
}
.nav > li > a:hover {
    color: black;
    background-color: white;
}

/*//////////////////////////////
    Content styles
//////////////////////////////*/
h1, h2, h3, h4 {
    font-family: PuristaMedium;
    color: white;
    letter-spacing: 5px;
}
ul {
    padding-left: 0;
}
li {
    list-style-type: none;
}
#products-container {
    background-color: white;
}
#page-links a {
    color: black;
    cursor: pointer;
}
#page-links a:hover {
    text-decoration: none;
}
#content h1 {
    color: black;
}
.panel-primary {
    border-radius: 0;
    border: none;
}
.panel-primary > .panel-heading {
    background-color: black;
    background-image: none;
    color: #f60022;
    font-family: PuristaMedium;
    border-radius: 0;
}

/*//////////////////////////////
    Sidebar styles
//////////////////////////////*/
#productsfilter {
    background-color: black;
}
#productsfilter > form {
    position: fixed;
}
.form-control {
    border-radius: 0;
}
label {
    color: white;
    font-family: PuristaMedium;
    font-weight: normal;
}