/*//////////////////////////////
Fonts
//////////////////////////////*/
@font-face {
    font-family: 'PuristaBold';
    url('../fonts/purista_bold.ttf') format('truetype');
}
@font-face {
    font-family: 'PuristaLight';
    url('../fonts/purista_light.ttf') format('truetype');
}
@font-face {
    font-family: 'PuristaMedium';
    url('../fonts/purista_medium.ttf') format('truetype');
}
@font-face {
    font-family: 'TinosBold';
    url('../fonts/Tinos-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'TinosRegular';
    url('../fonts/Tinos-Regular.ttf') format('truetype');
}
/*//////////////////////////////
    General Utility Styles
//////////////////////////////*/
.no-left-pad {
    padding-left: 0;
}

/*//////////////////////////////
    Body and Header Styles
//////////////////////////////*/
body {
    background-color: black;
}
.container {
    background-color: black;
}
.container-shadow {
    box-shadow: 0 5px 20px 5px rgba(0,0,0,0.24);
}
.navbar-brand {
    background-image: url(../img/logo.png);
    width: 200px;
    height: 113px;
}

/*//////////////////////////////
    Content styles
//////////////////////////////*/
ul {
    padding-left: 0;
}
li {
    list-style-type: none;
}
#content {
    border-top: 1px solid rgba(23,43,67,.2);
}
.panel-primary>.panel-heading {
    background-color: #172B43;
    background-image: none;
}
#productsfilter {
    background-color: black;
}