<h1>Products</h1>
<div class="col-md-3" ng-repeat="p in products" >
<div class="panel panel-primary">
    <div class="panel-heading"><b>{{ p.product_name }}</b></div>
    <div class="panel-body">
        <ul>
            <li><b>Made by:</b> {{ p.manufacturer_name }}</li>
            <li><b>Price:</b> {{ p.price | currency }}</li>
            <li><b>Description:</b> <br>{{ p.description }}</li>
            <!-- create filter on description to cut off the text at a certain point -->
        </ul>
    </div>
</div>
</div>